<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "The Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="min-h-screen flex flex-col bg-white text-gray-900 antialiased">
    <%= render NavbarComponent.new(current_path: request.path) %>

    <% if notice.present? %>
      <%= render FlashComponent.new(type: :notice, message: notice) %>
    <% end %>
    <% if alert.present? %>
      <%= render FlashComponent.new(type: :alert, message: alert) %>
    <% end %>

    <main class="flex-1 pb-16">
      <%= yield %>
    </main>

    <%= render FooterComponent.new %>
  </body>
</html>
